@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:wght@400;700&display=swap");

$inter-font: "Inter";
$lato-font: "Lato";

$black: #1c1c1c;
$background-input: rgba(224, 231, 255, 0.2);
$border-input: #e0e7ff;
$dark-gray: #363636;
$deep-sky-blue: #007bff;
$deep-gray: #e4e4e4;
$green: #00b517;
$grey: #f7f7f7;
$greyish-brown: #545454;
$light-black: #363636;
$light-red: #feeaea;
$light-green: #e5f7e7;
$light-sky-blue: #f1f8ff;
$placeholder-input: rgba(0, 123, 255, 0.29);
$red: #fa3434;
$white: #ffffff;

$max-width: 1160px;

$radius: 5px;
