@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:wght@400;700&display=swap");

$inter-font: "Inter";
$lato-font: "Lato";

$scale-black: #1c1c1c;
$scale-gray-0: #efefef;
$scale-gray-1: #f7f7f7;
$scale-gray-2: #e0e7ff;
$scale-gray-3: #e4e4e4;
$scale-gray-4: #363636;
$scale-greyish-brown-0: #969696;
$scale-greyish-brown-1: #545454;
$scale-sky-blue-0: #f1f8ff;
$scale-sky-blue-1: #007bff;
$scale-green-0: #e5f7e7;
$scale-green-1: #00b517;
$scale-red: #fa3434;
$scale-white: #ffffff;

$transparent-gray: rgba(224, 231, 255, 0.2);
$transparent-blue: rgba(0, 123, 255, 0.29);
$light-red: #feeaea;
$light-black: #3d2626;

$black-shadow-color: rgba(84, 84, 84, 0.1);

$max-width: 1160px;
$screen-md: 778px;

$radius: 5px;
