@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400&family=Lato:wght@400;700&display=swap");

$inter-font: "Inter";
$lato-font: "Lato";

$scale-black: #1c1c1c; //black
$scale-gray-0: #efefef; //background-footer
$scale-gray-1: #f7f7f7; //grey
$scale-gray-2: #e0e7ff; //border-input
$scale-gray-3: #e4e4e4; //deep-gray
$scale-gray-4: #363636; //deep-grey
$scale-greyish-brown-0: #969696; //light-greyish-brown
$scale-greyish-brown-1: #545454; //greyish-brown
$scale-sky-blue-0: #f1f8ff; //light-sky-blue
$scale-sky-blue-1: #007bff; //deep-sky-blue
$scale-green-0: #e5f7e7; //light-green
$scale-green-1: #00b517; //green
$scale-red: #fa3434; //red
$scale-white: #ffffff; //white

$transparent-gray: rgba(224, 231, 255, 0.2); //background-input
$transparent-blue: rgba(0, 123, 255, 0.29); //placeholder-input
$light-red: #feeaea; //light-red
$light-black: #3d2626; //light-black

$black-shadow-color: rgba(84, 84, 84, 0.1);

$max-width: 1160px;
$screen-md: 778px;

$radius: 5px;
