@import "../../sass/variables";

.form {
  display: flex;
  flex-direction: column;
}

.button {
  background: none;
  border: none;
  border-radius: $radius;
  font-family: $inter-font;
  padding: 10px;

  &:disabled {
    opacity: 0.5;
  }
}

.primary {
  @extend .button;

  background-color: $scale-sky-blue-1;
  border: 1px solid $scale-sky-blue-1;
  color: $scale-white;
}

.secondary {
  @extend .button;

  border: 1px solid $scale-sky-blue-1;
  color: $scale-sky-blue-1;
}

.secondary--black {
  @extend .button;

  border: 1px solid $light-black;
  color: $light-black;
}

.input {
  background-color: $transparent-gray;
  border: 1px solid $scale-gray-2;
  border-radius: $radius;
  height: 40px;
  padding: 10px 16px;
  width: 270px;

  &::placeholder {
    color: $transparent-blue;
  }

  &.error {
    background-color: $light-red;
    border-color: $scale-red;
    color: $scale-red;
  }

  &.error::placeholder {
    color: $scale-red;
  }
}

.input-error {
  color: $scale-red;
  font-size: 12px;
  margin-top: 5px;
}

.label {
  color: $light-black;
  width: 100%;

  .required-text {
    color: $scale-gray-4;
    font-size: 14px;
    font-style: italic;
    margin-left: 5px;
  }
}

.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  background: url("../../assets/images/arrow-select.svg") $transparent-gray
    no-repeat calc(100% - 10px) !important;

  border: 1px solid $scale-gray-2;
  border-radius: $radius;
  color: $transparent-blue;
  height: 40px;
  padding: 10px 16px;
  width: 100%;

  &.error {
    background-color: $light-red;
    border-color: $scale-red;
    color: $scale-red;
  }
}
