@import "../../sass/variables";

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .product-container {
    background-color: $scale-white;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 70%;
    margin-top: 30px;
    padding: 30px;
    width: 100%;

    .image-container {
      height: 370px;
      width: 370px;

      img {
        height: 100%;
        object-fit: cover;
        width: 100%;
      }
    }

    .wrapper {
      width: 70%;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: space-between;
      padding: 0px 30px;
      height: 370px;

      .info {
        height: 70%;

        .name {
          font-size: 34px;
          height: 60px;
          word-wrap: break-word;
        }

        .price {
          color: $scale-gray-3;
          font-size: 18px;

          .number {
            color: $scale-black;
            font-size: 24px;
          }
        }

        .description {
          color: $scale-gray-3;
          font-size: 16px;
          text-overflow: ellipsis;
          margin-top: 15px;
        }
      }

      .quantity {
        display: flex;
        flex-direction: column;

        button {
          border-radius: 0px;
          border-right: 0px;
          padding: 5px 8px;
          margin-top: 5px;
        }

        button:first-child {
          border-radius: $radius 0px 0px $radius;
        }

        button:last-child {
          border-right: 1px solid;
          border-radius: 0px $radius $radius 0px;
        }

        .amount {
          border: 1px solid $light-black;
          border-radius: 0px;
          border-right: 0px;
          color: $light-black;
          font-family: $inter-font;
          font-size: 12px;
          padding: 5.5px 8px;
          margin-top: 5px;
        }
      }

      .product-actions {
        button {
          text-transform: uppercase;
          margin: 5px;

          .icon {
            margin-left: 4px;
          }
        }
      }
    }
  }

  @media screen and (max-width: $screen-md) {
    .product-container {
      flex-direction: column;
      max-width: 100%;

      .image-container {
        width: 100%;
      }

      .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .product-actions {
        width: 100%;

        button {
          width: 100%;
        }
      }
    }
  }
}
