@import "../../sass/variables";

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;

  .banner-container {
    margin: 20px 0px;
    width: 100%;
  }

  .services-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    div {
      margin: 10px;
    }
  }

  .new-arrivals-title {
    color: $scale-black;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: 0.2px;
    padding: 5px;
    margin-left: 5.5%;
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    div {
      margin: 10px;
    }
  }

  .pagination {
    align-self: center;
    display: flex;
    justify-content: center;
    margin: 40px;
    max-width: $max-width;
    width: 90%;

    div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 100%;

      button {
        border-radius: 0px;
        border-right: 0px;
        padding: 5px 8px;
      }

      button:first-child {
        border-radius: $radius 0px 0px $radius;
      }

      button:last-child {
        border-right: 1px solid;
        border-radius: 0px $radius $radius 0px;
      }
    }
  }
}
