@import "sass/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  background-color: $grey;
}

#root {
  font-family: $lato-font;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
}
