@import "sass/variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $scale-gray-1;
  margin: 0 auto;
}

#root {
  font-family: $lato-font;
  min-height: 100vh;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  footer,
  header {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
  }
}
