@import "../../sass/variables";

.container {
  height: 240px;
  margin: 0 auto;
  max-width: 1030px;
  width: 100%;

  img {
    border-radius: $radius;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
